$color-blue:                #4491fd;
$color-blue-75:             #71abfd;
$color-blue-50:             #a4c9fe;
$color-blue-25:             #d6e7fe;
$color-green:               #60b2aa;
$color-green-75:            #86c4be;
$color-green-50:            #afd8d4;
$color-green-25:            #d5ebe8;
$color-violet:              #702681;
$color-violet-75:           #a739c0;
$color-violet-50:           #c579d7;
$color-violet-25:           #e2bceb;
$color-red:                 #d4502f;
$color-red-75:              #de7b62;
$color-red-50:              #e9a695;
$color-red-25:              #f4d4cc;
$color-orange:              #eaad32;
$color-orange-75:           #efc165;
$color-orange-50:           #f4d698;
$color-orange-25:           #f9eacb;
$color-smoke:               #a0a0b0;
$color-smoke-75:            #b9b9c4;
$color-smoke-50:            #cfcfd7;
$color-smoke-25:            #e8e8ec;
$color-text:                #171A3D;
$color-gray:                #74768A;
$color-silver:              #BCBCBC;
$color-label:               #5D5F77;
$color-dust:                #9EA0A5;
$color-table:               #f5f6f9;
$color-background:          #F8F9FC;
$color-background-lighter:  #F8F9FB;
$color-white:               #FFFFFF;
$color-black:               #000000;
$color-tooltip:             #3E3F42;
$color-black-gray:          #1a1a1a;
$color-space-cadet:         #222E50;