.ui-components__flex {
    display: flex;
}

.ui-components__flex.row {
    flex-flow: row;
}
.ui-components__flex.column {
    flex-flow: column;
}

.ui-components__flex.align-flex-start {
    align-items: flex-start;
}

.ui-components__flex.align-center {
    align-items: center;
}

.ui-components__flex.align-flex-end {
    align-items: flex-end;
}

.ui-components__flex.justify-flex-start {
    justify-content: flex-start;
}

.ui-components__flex.justify-center {
    justify-content: center;
}

.ui-components__flex.justify-flex-end {
    justify-content: flex-end;
}

.ui-components__flex.justify-space-between {
    justify-content: space-between;
}


.ui-components__flex.justify-space-around {
    justify-content: space-around;
}