@import 'styles/colors.scss';

.navbar {
    &-color {
        &-blue {
            background-color: $color-blue;
        }
        &-red {
            background-color: $color-red;
        }
        &-dark {
            background-color: $color-black-gray;
        }
    }

    &__container {
        padding: 16px;
    }
}